<!doctype html>
<html lang="en">

<head>
    <title>Post4Tips - Good news! We found a traveller!</title>
</head>

<body>

<p>
    Hey, hope you are doing well! 
</p>

<p>
    User {{ user }} travels from {{ origin }} to {{ destination }} on {{ date }}  
</p>


<p>
    Check with them - maybe they are happy to help? 
</p>


<p>
    For more details please click <a href="{{ prefix }}{{ site }}{% url 'travel-detail' id slug %}">here</a> 
</p>


<p>
    Good luck :)
    Post4Tips Team
</p>

</body>
</html>