<!doctype html>
<html lang="en">

<head>
    <title>Post4Tips - Good news! Someone needs your help!</title>
</head>

<body>

<p>
    Hey, hope you are doing well! 
</p>

<p>
    User {{ user }} needs something delivered from {{ origin }} to {{ destination }} by {{ date }}  
</p>


<p>
    Do you think you could help them with that? 
</p>


<p>
    For more details please click <a href="{{ prefix }}{{ site }}{% url 'parcel-detail' id slug %}">here</a> 
</p>


<p>
    Have fun :)
    Post4Tips Team
</p>

</body>
</html>