{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% load i18n %}
{% block title %}
<title>{% trans 'Request' %} | Post4Tips</title>
{% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
{% endblock %}
{% block content %}
<div class="container content">
    <form id="skyform" enctype="multipart/form-data" method="post" class="sky-form form-horizontal">
      {% csrf_token %}
      <header>
      {% if parcel %}
        <h2>{% trans 'Update Request' %}</h2>
        <h4>{% trans 'Update the request by modifying fields below' %}</h4>
      {% else %}
        <h2>{% trans 'New Request' %}</h2>
        <h4>{% trans 'Create a new request by filling out the form below' %}</h4>
      {% endif %}
      </header>
      <fieldset>
        <div class="row">
        <!-- Origin -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.origin.id_for_label }}">{{ form.origin.label }}</label>
            <label class="input{% if form.origin.errors %} state-error{% endif %}">{{ form.origin }}</label>
            {% if form.origin.help_text %}
            <span id="help_{{ form.origin.html_name }}" class="help-block">{{ form.origin.help_text }}</span>
            {% endif %}
            {% if form.origin.errors %}
            {% for error in form.origin.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        <!-- End Origin -->
        <!-- Icon -->
          <section class="col-md-2 col-xs-2 service-block">
            <i class="icon-custom icon-custom-forms icon-color-u icon-lg rounded-x icon-line icon-directions"></i>
          </section>
        <!-- Destination -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.destination.id_for_label }}">{{ form.destination.label }}</label>
            <label class="input{% if form.destination.errors %} state-error{% endif %}">{{ form.destination }}</label>
            {% if form.destination.help_text %}
            <span id="help_{{ form.destination.html_name }}" class="help-block">{{ form.destination.help_text }}</span>
            {% endif %}
            {% if form.destination.errors %}
            {% for error in form.destination.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        </div>
        <!-- Delivery date -->
        <div class="row">
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.delivery_date.id_for_label }}">{{ form.delivery_date.label }}</label>
            <label class="input{% if form.delivery_date.errors %} state-error{% endif %}">{{ form.delivery_date }}</label>
            {% if form.delivery_date.help_text %}
            <span id="help_{{ form.delivery_date.html_name }}" class="help-block">{{ form.delivery_date.help_text }}</span>
            {% endif %}
            {% if form.delivery_date.errors %}
            {% for error in form.delivery_date.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        <!-- Icon -->
          <section class="col-md-2 col-xs-2 service-block">
            <i class="icon-custom icon-custom-forms icon-color-u icon-lg rounded-x icon-line icon-calendar"></i>
          </section>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <!-- Size -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.size.id_for_label }}">{{ form.size.label }}</label>
            <label class="select{% if form.size.errors %} state-error{% endif %}">{{ form.size }}<i></i></label>
            {% if form.size.help_text %}
            <span id="help_{{ form.size.html_name }}" class="help-block">{{ form.size.help_text }}</span>
            {% endif %}
            {% if form.size.errors %}
            {% for error in form.size.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
          <!-- Icon -->
          <section class="col-md-2 col-xs-2 service-block">
            <i class="icon-custom icon-custom-forms icon-color-u icon-lg rounded-x icon-line icon-travel-089"></i>
          </section>
          <!-- Weight -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.weight.id_for_label }}">{{ form.weight.label }}</label>
            <label class="select{% if form.weight.errors %} state-error{% endif %}">{{ form.weight }}<i></i></label>
            {% if form.weight.help_text %}
            <span id="help_{{ form.weight.html_name }}" class="help-block">{{ form.weight.help_text }}</span>
            {% endif %}
            {% if form.weight.errors %}
            {% for error in form.weight.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
            <!-- Notes -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.notes.id_for_label }}">{{ form.notes.label }}</label>
            <label class="textarea">{{ form.notes }}<i></i></label>
            {% if form.notes.help_text %}
            <span id="help_{{ form.notes.html_name }}" class="help-block">{{ form.notes.help_text }}</span>
            {% endif %}
            {% if form.notes.errors %}
            {% for error in form.notes.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
      </fieldset>
      <fieldset>
        <div class="row">
            <!-- Flexible -->
          <section class="col-md-5 col-xs-10">
            {# <!-- This styling here nicely aligns label with the checkbox --> #}
            <label style="overflow: hidden; padding: 0px 0px 0px 25px;" class="checkbox">{{ form.flexible }}<i></i>{{ form.flexible.label }}</label>
            {% if form.flexible.help_text %}
            <span id="help_{{ form.flexible.html_name }}" class="help-block">{{ form.flexible.help_text }}</span>
            {% endif %}
            {% if form.flexible.errors %}
            {% for error in form.flexible.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>

          <section class="col-md-5 col-xs-10">
            <label style="overflow: hidden; padding: 0px 0px 0px 25px;" class="checkbox">{{ form.tips }}<i></i>{{ form.tips.label }}</label>
            {% if form.tips.help_text %}
            <span id="help_{{ form.tips.html_name }}" class="help-block">{{ form.tips.help_text }}</span>
            {% endif %}
            {% if form.tips.errors %}
            {% for error in form.tips.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        </div>
      </fieldset>
      <footer>
        <button type="submit" class="btn-u">{% trans 'Submit' %}</button>
        <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">{% trans 'Back' %}</button>
      </footer>
    </form>
</div>
{% endblock %}
{% block foot %}
{{ block.super }}
<script type="text/javascript" src="{% static 'assets/js/plugins/datepicker.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        Datepicker.initDatepicker();
    });
</script>
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
{% endblock %}
