{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}
{% load i18n %}
{% block head %}
{{ block.super }}
    <noscript>
       <p style="text-align: center; font-size: 300%">
       {% trans "Please enable Javascript on your computer otherwise this little website feels very lonely and cannot work properly :(" %}
       </p>
    </noscript>
    <link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/hover-effects/css/custom-hover-effects.css' %}">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{% static 'assets/css/pages/page_search.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/custom_home_style.css' %}">
{% endblock %}
{% block content %}
    <!--=== Search Block ===-->
    <div class="search-block">
        <div class="container">
            <div class="row">
            <h1><span class="color-green">{% blocktrans %}Search</span> by place names{% endblocktrans %}</h1>
            <form action="" id="searchbox" class="sky-form page-search-form">
                <div class="col-sm-4 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        {{ form.fr }}
                    </div>
                </div>
                <div class="col-sm-4 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        {{ form.to }}
                    </div>
                </div>
                <div class="col-sm-4">
                    <button id="mainSearchButton" class="btn-u btn-u-lg btn-block" type="submit"><i class="fa fa-search"></i>{% trans " SEARCH" %}</button>
                </div>
            </div><!--/row-->

            <div class="inline-group">
                {% for model in form.models %}
                {% label_with_classes model 'radio-search' %}
                {% endfor %}
            </div>

            </form>
        </div><!--/container-->
    </div><!--/Search Block-->

    <!--=== Call To Action ===-->
    <div class="call-action-v1 bg-color-light">
        <div class="container">
            <div class="call-action-v1-box">
                <div class="call-action-v1 text-center">
                    <p>{{ view.carousel_text }}</p>
                </div>
                {% if user.is_authenticated %}
                {% else %}
                <div class="call-action-v1-in inner-btn page-scroll">
                    <a href="{% url 'registration_register' %}" class="btn-u btn-brd btn-brd-hover btn-u-dark btn-u-block">{% trans "REGISTER TODAY" %}</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!--=== End Call To Action ===-->

    <!--=== Service Blocks ===-->
    <div class="container content-sm">
        <div class="text-center margin-bottom-50">
            <h2 class="title-v2 title-center">{% trans "WHAT IS POST4TIPS?" %}</h2>
            {% comment %}Translators: Info in "what is post4tips" section{% endcomment %}
            {% url 'travels' as travels_url %}
            {% url 'parcels' as parcels_url %}
            <p class="space-lg-hor">{% blocktrans %}If you are <a class="color-green" href="{{ travels_url }}">travelling</a> somewhere and wanted to help others to deliver a package and maybe earn an extra cash while travelling - this is the place to make it happen. The idea is when someone wants to send something abroad and can't rely on the speed of currently available courier options, not mentioning the price for express deliveries - they post a <a class="color-green" href="{{ parcels_url }}">request</a> on this website so travellers could find them and offer their help.{% endblocktrans %}</p>
        </div>
        <!-- Service Blocks -->
        <div class="row service-box-v1">
            <div class="col-md-6 col-sm-6 md-margin-bottom-40">
                <div class="service-block service-block-default no-margin-bottom">
                    <i class="icon-custom icon-home-page icon-lg rounded-x icon-bg-u icon-line icon-travel-001"></i>
                    <h2 class="heading">{% trans "Travels" %}</h2>
                    <p>{% trans "View the list of upcoming travels to arrange a postage delivery or share your travel with others and get a reward." %}</p>
                    <a rel="pop" href="{% url 'travels' %}" class="btn-u pop">{% trans "View all travels" %}</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 md-margin-bottom-40">
                <div class="service-block service-block-default no-margin-bottom">
                    <i class="icon-custom icon-home-page icon-lg rounded-x icon-bg-u icon-line icon-travel-004"></i>
                    <h2 class="heading">{% trans "Requests" %}</h2>
                    <p>{% trans "Travelling and eager to deliver a postage or want something delivered for you? Create a request." %}</p>
                    <a rel="pop" href="{% url 'parcels' %}" class="btn-u pop">{% trans "View all requests" %}</a>
                </div>
            </div>
        </div>
        <!-- End Service Blocks -->
    </div>
    <!--=== End Service Blocks ===-->
{% comment 'Parallax' %}
    <!--=== Parallax Backgound ===-->
    <div class="bg-image-v2 parallaxBg1">
        <div class="container">
            <div class="headline-center-v2 headline-center-v2-dark margin-bottom-10">
                <h2>{% trans "Travels" %}</h2>
                <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                <p>{% trans "View the list of upcoming travels to arrange a postage delivery or share your travel with others and get a reward." %}</p><br><br>
                <a href="{% url 'travels' %}" class="btn-u btn-brd btn-brd-hover btn-u-dark">{% trans "Travels" %}</a>
            </div><!--/Headline Center V2-->
        </div><!--/container-->
    </div>
    <!--=== End Parallax Backgound ===-->

    <!--=== Parallax Backgound ===-->
    <div class="bg-image-v2 bg-image-v2-dark parallaxBg1">
        <div class="container">
            <div class="headline-center-v2 margin-bottom-10">
                <h2>{% trans "Requests" %}</h2>
                <span class="bordered-icon"><i class="fa fa-th-large"></i></span>
                <p>{% trans "Travelling and eager to deliver a postage or want something delivered for you? Create a request." %}</p><br><br>
                <a href="{% url 'parcels' %}" class="btn-u btn-brd btn-brd-hover btn-u-light">{% trans "Requests" %}</a>
            </div><!--/Headline Center V2-->
        </div><!--/container-->
    </div>
    <!--=== End Parallax Backgound ===-->
{% endcomment %}
    <!-- Latest entries -->
     <div class="container content">
        <div class="row">
            <div class="col-md-12">
                <div class="row margin-bottom-20">
                    <!-- Latest travels -->
                    <div class="col-md-6">
                        <div class="headline"><h2>{% trans "Latest Travels" %}</h2></div>
                        <ul class="list-unstyled margin-bottom-20">
                            {% for travel in view.latest_travels %}
                            <li><h5><i class="fa fa-paper-plane-o color-green"></i><a href="{{ travel.get_absolute_url }}">{{ travel }}</a></h5></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Latest requests -->
                    <div class="col-md-6">
                        <div class="headline"><h2>{% trans "Latest Requests" %}</h2></div>
                        <ul class="list-unstyled margin-bottom-20">
                            {% for parcel in view.latest_parcels %}
                            <li><h5><i class="fa fa-suitcase color-green"></i><a href="{{ parcel.get_absolute_url }}">{{ parcel }}</a></h5></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div><!--/row-->

            </div>
        </div>
     </div>
     <!-- End Latest entries -->
{% endblock %}

{% block foot %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/search-model-autoselector-jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
{% endblock %}
