{% extends "registration/registration_base.html" %}
<!--originally was {% extends "base.html" %} -->

{% load i18n %}

{% block content %}

<div class="container">

    <div class="reg-block">

        <div class="reg-block-header">
            <h2>Account activation failed</h2>
        </div>
        
        <p>
            <h4 style="text-align: center;">
                ??????????????????????????????
            </h4>
        </p>

    </div>

</div>

{% endblock %}



{% comment %}
**registration/activate.html**

Used if account activation fails. With the default setup, has the following context:

``activation_key``
    The activation key used during the activation attempt.
{% endcomment %}