{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}
<div class="container">

    <div class="reg-block">

        <div class="reg-block-header">
            <h2>{% trans "Your account is now activated." %}</h2>
        </div>
        
        <p>
            <h4 style="text-align: center;">
                {% if not user.is_authenticated %}
                    {% trans "You can now " %}<a href="{% url 'login' %}">{% trans "log in" %}</a>
                {% endif %}
            </h4>
        </p>

    </div>

</div>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}