{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load extras %}


{% block content %}

<!--=== Content Part ===-->    
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        <div class="reg-block-header">
            <h2>Sign In</h2>
            <ul class="social-icons text-center">
                <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="{% url 'social:begin' 'facebook' %}"></a></li>
                <li><a class="rounded-x social_googleplus" data-original-title="Google" href="{% url 'social:begin' 'google-oauth2' %}"></a></li>
                {% comment 'disabled auth backends' %}
                <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
                {% endcomment %}
            </ul>
            <p>{% trans "Forgot your password?" %} <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>.</p>
            <p>{% trans "Not a member?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
        </div>
        <form method="post" action="">
            {% csrf_token %}
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user" data-toggle="tooltip" data-placement="left" title="Please enter your username"></i></span>
                {{ form.username | addcss_reg_form:"form-control, Username" }}
            </div>
            {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}

            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock" data-toggle="tooltip" data-placement="left" title="Please enter your password"></i></span>
                {{ form.password | addcss_reg_form:"form-control, Password" }}
            </div>
            {% if form.password.errors %}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}

            <hr>
            {% comment "This does not change anything yet as default setting is to keep user logged in for two weeks. More in Issue-80" %}
            <div class="checkbox">
                <label>
                    <input type="checkbox"> 
                    <p>Stay signed in</p>
                </label>            
            </div>
            {% endcomment %}           
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">{% trans 'Log In' %}</button>
                </div>
            </div>
        </form>
    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}



{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}