{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block content %}

<div class="container">

    <div class="reg-block">

        <div class="reg-block-header">
            <h2>{% trans "Password changed" %}</h2>
        </div>
        
        <p>
            <h4 style="text-align: center;">
                {% trans "Your password has been successfully changed!" %}
                {% trans "You may now " %}<a href="{% url 'account-update' user.id %}">{% trans "return" %}</a>{% trans " to your profile page." %}
            </h4>
        </p>

    </div>

</div>

{% endblock %}
