{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block content %}

<div class="container">

    <div class="reg-block">

        <div class="reg-block-header">
            <h2>{% trans "Password reset complete" %}</h2>
        </div>
        
        <p>
            <h4 style="text-align: center;">
                {% trans "Your password has been reset!" %}
                {% trans "You may now " %}<a href="{{ login_url }}">{% trans "log in" %}</a>.
            </h4>
        </p>

    </div>

</div>

{% endblock %}