{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load extras %}


{% block content %}

<!--=== Content Part ===-->    
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        <div class="reg-block-header">
            <h2>{% trans "Reset password" %}</h2>
            <ul class="social-icons text-center">
                <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
            </ul>
            <p>
                {% blocktrans %}
                Forgot your password?  Enter your email in the form below and we'll send you instructions for creating a new one.
                {% endblocktrans %}
            </p>
        </div>
        <form method="post" action="">
            {% csrf_token %}


            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-envelope" data-toggle="tooltip" data-placement="left" title="Please enter your email address you used during registration"></i></span>
                {{ form.email | addcss_reg_form:"form-control, Email address" }}
            </div>
            {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}
                                    
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">{% trans 'Reset password' %}</button>                
                </div>
            </div>

        </form>


    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}