{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block content %}

<div class="container">

    <div class="reg-block">

        <div class="reg-block-header">
            <h2>{% trans "Password reset" %}</h2>
        </div>
        
        <p>
            <h4 style="text-align: center;">
                {% blocktrans %}
                We have sent you an email with a link to reset your password.  Please check
                your email and click the link to continue.
                {% endblocktrans %}
            </h4>
        </p>

    </div>

</div>

{% endblock %}