{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load extras %}


{% block content %}

<!--=== Content Part ===-->    
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        <div class="reg-block-header">
            <h2>{% trans "Confirm password reset" %}</h2>
            <ul class="social-icons text-center">
                <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
            </ul>
            <p>
                {% trans "Enter your new password below to reset your password:" %}
            </p>
        </div>
        <form method="post" action="">
            {% csrf_token %}


            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                {{ form.new_password1 | addcss:"form-control" }}
            </div>
            {% if form.new_password1.errors %}
            {% for error in form.new_password1.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}
            
             <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                {{ form.new_password2 | addcss:"form-control" }}
            </div>
            {% if form.new_password2.errors %}
            {% for error in form.new_password2.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}
                                    
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">{% trans 'Set password' %}</button>                
                </div>
            </div>

        </form>


    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}