{% extends "django_messages/base.html" %} 
{% load i18n %}
{% block title %}
<title>{% trans "Password change" %} | Post4Tips</title>
{% endblock %}
{% block main %}
<div class="col-md-9">
    <div class="profile-body">
        <header class="headline">
          <i class="color-green icon-md messages-header fa fa-key"></i>
          <h2>{% trans "Password change" %}</h2>
        </header>
        <form action="" class="sky-form form-horizontal" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-5 col-xs-10">
                    <label class="label" for="{{ form.old_password.id_for_label }}">{{ form.old_password.label }}</label>
                    <label class="input{% if form.old_password.errors %} state-error{% endif %}">
                        <input id="{{ form.old_password.id_for_label }}" name="{{ form.old_password.html_name }}" type="password" autofocus>
                    </label>
                    {% if form.old_password.help_text %}
                    <span id="help_{{ form.old_password.html_name }}" class="help-block">{{ form.old_password.help_text }}</span>
                    {% endif %}
                    {% if form.old_password.errors %}
                    {% for error in form.old_password.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-10">
                    <label class="label" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
                    <label class="input{% if form.new_password1.errors %} state-error{% endif %}">{{ form.new_password1 }}</label>
                    <span id="help_{{ form.new_password1.html_name }}" class="help-block">
                        <ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul>
                    </span>
                    {% if form.new_password1.errors %}
                    {% for error in form.new_password1.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-10">
                    <label class="label" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
                    <label class="input{% if form.new_password2.errors %} state-error{% endif %}">{{ form.new_password2 }}</label>
                    {% if form.new_password2.help_text %}
                    <span id="help_{{ form.new_password2.html_name }}" class="help-block">{{ form.new_password2.help_text }}</span>
                    {% endif %}
                    {% if form.new_password2.errors %}
                    {% for error in form.new_password2.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <hr></hr>
            <button type="submit" class="btn-u">{% trans 'Change password' %}</button>
            <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
        </form>
    </div><!--/end profile-body-->
</div>        
{% endblock %}