{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
{{ block.super }}

<!-- CSS Registration Page Style -->    
<link rel="stylesheet" href="{% static 'assets/css/pages/page_log_reg_v2.css' %}">

{% endblock %}


{% block content %}
{% endblock %}



{% block foot %}
{{ block.super }}
<!-- JS Implementing Plugins --> 
<script type="text/javascript" src="{% static 'assets/plugins/backstretch/jquery.backstretch.min.js' %}"></script>

<script type="text/javascript">
    $.backstretch([
      "{% static 'assets/img/bg/19.jpg' %}",
      "{% static 'assets/img/bg/18.jpg' %}",
      ], {
        fade: 1000,
        duration: 7000
    });
</script>

{% endblock %}