{% extends "registration/registration_base.html" %}
{% load i18n %}


{% block content %}

<div class="container">

    <div class="reg-block">

        <div class="reg-block-header">
            <h2>Activation email sent</h2>
        </div>
        
        <p>
            <h4 style="text-align: center;">
                Please check your email to complete the registration process
            </h4>
        </p>

    </div>

</div>

{% endblock %}