{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load extras %}


{% block content %}

<!--=== Content Part ===-->    
<div class="container">
    <!--Reg Block-->
    <div class="reg-block">
        <div class="reg-block-header">
            <h2>Sign Up</h2>
            <ul class="social-icons text-center">
                <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
                <li><a class="rounded-x social_twitter" data-original-title="Twitter" href="#"></a></li>
                <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
                <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
            </ul>
            <p>Already Signed Up? Click <a class="color-green" href="{% url 'auth_login' %}">Sign In</a> to login your account.</p>
        </div>
        <form method="post" action="">
            {% csrf_token %}


            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-user" data-toggle="tooltip" data-placement="left" title="You will use this to login to Post4Tips"></i></span>
                {{ form.username | addcss_reg_form:"form-control, Username (cannot be changed)" }}
            </div>
            {% if form.username.errors %}
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}


            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-envelope" data-toggle="tooltip" data-placement="left" title="The email address will be used to activate your account"></i></span>
                {{ form.email | addcss_reg_form:"form-control, Email address" }}
            </div>
            {% if form.email.errors %}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}


            <div class="input-group margin-bottom-20">
                <span class="input-group-addon"><i class="fa fa-lock" data-toggle="tooltip" data-placement="left" title="Password must contain at least 8 characters"></i></span>
                {{ form.password1 | addcss_reg_form:"form-control, Password" }}
            </div>
            {% if form.password1.errors %}
            {% for error in form.password1.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}


            <div class="input-group margin-bottom-30">
                <span class="input-group-addon"><i class="fa fa-key" data-toggle="tooltip" data-placement="left" title="Please enter the above password again here"></i></span>
                {{ form.password2 | addcss_reg_form:"form-control, Confirm password"}}
            </div>
            {% if form.password2.errors %}
            {% for error in form.password2.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}


            <div class="checkbox">            
                <label>
                    {{ form.tos }}
                    By clicking 'Register', I confirm that I am at least 18 years old and that I've read and accept the <a target="_blank" href="page_terms.html">Terms and Conditions</a>
                </label>
            </div>
            {% if form.tos.errors %}
            {% for error in form.tos.errors %}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                    {{ error|escape }}
                </div>
            {% endfor %}
            {% endif %}
                                    
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn-u btn-block">Register</button>                
                </div>
            </div>

        </form>


    </div>
    <!--End Reg Block-->
</div><!--/container-->
<!--=== End Content Part ===-->

{% endblock %}