{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% block title %}
{% endblock %}
{% block head %}
{{ block.super }}
{# <!-- CSS Page Style === this keeps the "Change picture button on the avatar" --> #}
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pages/profile.css' %}">
{% endblock %}
{% block content %}
<div class="wrapper">
    <!--=== Welcome ===-->
    <div class="container">
        <h1 class="profile-welcome">Welcome, {{ user }}!</h1>
    </div>
    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item {% navactive request 'account-update' user.id %}">
                        <a href="{% url 'account-update' user.id %}"><i class="fa fa-user"></i>Profile</a>
                    </li>
                    <li class="list-group-item list-toggle {% if message or form.body %} active {% else %}{% navactive request 'messages:messages_compose' %}{% endif %}{% navactive request 'messages:messages_inbox' %}{% navactive request 'messages:messages_outbox' %}{% navactive request 'messages:messages_trash' %}">
                        {% if messages_inbox_count %}
                        <span class="badge rounded-x badge-red">{{ messages_inbox_count }}</span>
                        {% endif %}
                        <a class="accordion-toggle" href="#collapse-components" data-toggle="collapse"><i class="fa fa-comments"></i>Messages</a>
                        <ul id="collapse-components" class="collapse {% if message or form.body %} in {% endif %}{% navactive request 'messages:messages_inbox' cls='in' %}{% navactive request 'messages:messages_compose' cls='in' %}{% navactive request 'messages:messages_outbox' cls='in' %}{% navactive request 'messages:messages_trash' cls='in' %}">
                            <li class="{% navactive request 'messages:messages_compose' %}{% if form.body %} active{% endif %}"><a href="{% url 'messages:messages_compose' %}"><i class="fa fa-envelope"></i>New</a></li>
                            <li class="{% navactive request 'messages:messages_inbox' %}{% if message %} active{% endif %}">
                                {% if messages_inbox_count %}
                                <span class="badge rounded-x badge-red">{{ messages_inbox_count }}</span>
                                {% endif %}
                                <a href="{% url 'messages:messages_inbox' %}"><i class="fa fa-inbox"></i>Inbox</a>
                            </li>
                            <li class="{% navactive request 'messages:messages_outbox' %}"><a href="{% url 'messages:messages_outbox' %}"><i class="fa fa-arrow-circle-up"></i>Sent</a></li>
                            <li class="{% navactive request 'messages:messages_trash' %}"><a href="{% url 'messages:messages_trash' %}"><i class="fa fa-trash"></i>Trash</a></li>
                        </ul>
                    </li>
                    <li class="list-group-item {% navactive request 'account-mytravels' user.id %}">
                        <a href="{% url 'account-mytravels' user.id %}"><i class="fa fa-paper-plane"></i>My travels</a>
                    </li>
                    <li class="list-group-item {% navactive request 'account-myparcels' user.id %}">
                        <a href="{% url 'account-myparcels' user.id %}"><i class="fa fa-suitcase"></i>My requests</a>
                    </li>
                    <li class="list-group-item {% navactive request 'password_change' %}">
                        <a href="{% url 'password_change' %}"><i class="fa fa-key"></i>Password</a>
                    </li>
                    {% comment %}
                    <li class="list-group-item">
                        <a href=""><i class="fa fa-group"></i>Friends</a>
                    </li>
                    <li class="list-group-item">
                        <a href=""><i class="fa fa-trash-o"></i>Blocked</a>
                    </li>
                    {% endcomment %}
                    <li class="list-group-item {% navactive request 'account-settings' user.id %}">
                        <a href="{% url 'account-settings' user.id %}"><i class="fa fa-wrench"></i>Settings</a>
                    </li>
                </ul>

            </div>
            <!--End Left Sidebar-->
            {% block main %}
            <!-- Main account code goes here -->
            {% endblock %}
        </div>
    </div>
    <!--=== End Profile ===-->
</div>
{% endblock %}
{% block foot %}
{{ block.super }}
<script src="{% static 'js/country-city.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/plugins/datepicker.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        Datepicker.initDatepicker();
    });
</script>
{% endblock %}
