{% extends "accounts/account_base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
<title>My Messages | Post4Tips</title>
{% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'assets/css/pages/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/custom/custom_pagination_misc.css' %}">
{% endblock %}
