{% extends "django_messages/base.html" %}
{% load staticfiles %}
{% load i18n %} 
{% block main %}
<div class="col-md-9">
    <div class="profile-body">
        <header class="headline">
          <i class="color-green icon-md messages-header fa fa-envelope"></i>
          <h2>{% trans "New" %}</h2>
        </header>
        <form action="" class="sky-form form-horizontal" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-5 col-xs-10">
                    <label class="label" for="{{ form.recipient.id_for_label }}">{{ form.recipient.label }}</label>
                    <label class="input{% if form.recipient.errors %} state-error{% endif %}">
                        <input id="{{ form.recipient.id_for_label }}" name="{{ form.recipient.html_name }}" type="text"{% if form.body.value %} value="{{ form.recipient.value }}"{% else %} autofocus{% endif %}>
                    </label>
                    {% if form.recipient.help_text %}
                    <span id="help_{{ form.recipient.html_name }}" class="help-block">{{ form.recipient.help_text }}</span>
                    {% endif %}
                    {% if form.recipient.errors %}
                    {% for error in form.recipient.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-xs-10">
                    <label class="label" for="{{ form.subject.id_for_label }}">{{ form.subject.label }}</label>
                    <label class="input{% if form.subject.errors %} state-error{% endif %}">{{ form.subject }}</label>
                    {% if form.subject.help_text %}
                    <span id="help_{{ form.subject.html_name }}" class="help-block">{{ form.subject.help_text }}</span>
                    {% endif %}
                    {% if form.subject.errors %}
                    {% for error in form.subject.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-10">
                    <label class="label" for="{{ form.body.id_for_label }}">{{ form.body.label }}</label>
                    <label class="textarea textarea-resizable {% if form.body.errors %} state-error{% endif %}">
                        <textarea style="height: 150px;" id="{{ form.body.id_for_label }}" name="{{ form.body.html_name }}"{% if form.body.value %} autofocus>{{ form.body.value }}{% else %}>{% endif %}</textarea>
                    </label>
                    {% if form.body.help_text %}
                    <span id="help_{{ form.body.html_name }}" class="help-block">{{ form.body.help_text }}</span>
                    {% endif %}
                    {% if form.body.errors %}
                    {% for error in form.body.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <button type="submit" class="btn-u">Send</button>
            <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
        </form>
{% endblock %}
{% block foot %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/recipient-name-corrector.js' %}"></script>
{% endblock %}