{% extends "django_messages/base.html" %} 
{% load staticfiles %}
{% load i18n %}
{% load el_pagination_tags %}
{% block main %}
<div class="col-md-9">
    <div class="profile-body">
        <header class="headline">
          <i class="color-green icon-md messages-header fa fa-inbox"></i>
          <h2>{% trans "Inbox" %}</h2>
          <p style="margin-top: 5%;">
            <button id="selectAll" class="btn-u btn-brd btn-brd-hover btn-u" type="button">Select all</button>
            <button id="markRead" class="btn-u btn-brd btn-brd-hover btn-u" type="button">Mark as read</button>
            <!--<button id="markUnread" class="btn-u btn-brd btn-brd-hover btn-u" type="button">Mark as unread</button>-->
            <button id="delete" class="btn-u btn-brd btn-brd-hover btn-u" type="button">Delete</button>
          </p>
        </header>
        {% if message_list %}
        <form class="sky-form form-horizontal" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1 col-xs-1"></th>
                    <th class="col-md-3 col-xs-1">{% trans "From" %}</th>
                    <th class="col-md-3 col-xs-1">{% trans "Subject" %}</th>
                    <th class="col-md-4 col-xs-1">{% trans "Received" %}</th>
                </tr>
            </thead>
            <tbody>
                {% paginate message_list %}
                {% for message in message_list %} 
                <tr class="profile-inbox-avatar">
                    <td class="col-md-1 col-xs-1">
                        <div class="inline-group">
                        <label class="checkbox inbox-envelope-icon"><input type="checkbox" id="msg{{ message.id }}" name="checkbox-inline"><i></i>
                          {% if message.new %}
                            <span aria-hidden="true" class="icon-lg icon-custom icon-line icon-envelope color-green"></span>
                          {% endif %}
                          {% if message.replied %}
                            <span aria-hidden="true" class="icon-lg icon-custom icon-line icon-action-undo color-green"></span>
                          {% endif %}
                        </label>
                        </div>
                    </td>
                    <td class="col-md-3 col-xs-1">
                        {% if message.new %}<strong>{% endif %}
                        {% if message.replied %}<em>{% endif %}
                        <a href="{{ message.get_absolute_url }}">{{ message.sender }}</a>
                        {% if message.replied %}</em>{% endif %}
                        {% if message.new %}</strong>{% endif %}
                    </td>
                    <td class="col-md-3 col-xs-1">
                        {% if message.new %}<strong>{% endif %}
                        {% if message.replied %}<em>{% endif %}
                        <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                        {% if message.replied %}</em>{% endif %}
                        {% if message.new %}</strong>{% endif %}
                    </td>
                    <td class="col-md-4 col-xs-1">
                        {% if message.new %}<strong>{% endif %}
                        {% if message.replied %}<em>{% endif %}
                        {{ message.sent_at|date:_("DATETIME_FORMAT") }}
                        {% if message.replied %}</em>{% endif %}
                        {% if message.new %}</strong>{% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>
        
        <div class="text-center">
            {% get_pages %}
            {% if pages.paginated %}
            <ul class="pagination">

                <li class="page-item">
                    {{ pages.first_as_arrow }}
                </li>

                {% if pages.previous %}
                <li class="page-item">
                    {{ pages.previous }}
                </li>
                {% endif %}

                {% for page in pages %}
                    {% show_current_number as page_number %}
                    {% if page.number == page_number %}
                        <li class="page-item active">
                            <a href="{{ page.path }}">
                                {{ page.number }}<span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item"><a href="{{ page.path }}">{{ page.number }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if pages.next %}
                <li class="page-item">
                    {{ pages.next }}
                </li>
                {% endif %}

                <li class="page-item">
                    {{ pages.last_as_arrow }}
                </li> 

            </ul>
            {% endif %}
        </div>

        {% else %}
        <p>{% trans "No messages." %}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block foot %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/mass-update-buttons-jquery.js' %}"></script>
{% endblock %}
