{% extends "django_messages/base.html" %}
{% load i18n %}
{% block main %}
<div class="col-md-9">
    <div class="profile-body">
        <header class="headline" style="border-bottom: none;">
            <i class="color-green icon-md messages-header fa fa-commenting-o"></i>
            <h2>{{ message.subject }}</h2>
            {% if message.sender.profile_pic %}
                <img class="rounded message-view" src="/media/{{ message.sender.profile_pic }}" alt="Profile picture">
            {% else %}
                <img class="rounded message-view" src="/media/def.png" alt="Profile picture">
            {% endif %}
        </header>
        <ul class="list-unstyled margin-bottom-30">
            <li><strong>From:</strong> {{ message.sender }}</li>
            <li><strong>To:</strong> {{ message.recipient }}</li>
            <li><strong>Received:</strong> {{ message.sent_at|date:_("DATETIME_FORMAT") }}</li>
        </ul>
        <div class="tag-box tag-box-v3">
            {{ message.body|linebreaksbr }}
        </div>
        {% ifequal message.recipient.pk user.pk %}
        <a class="btn-u btn-u-default" href="{% url 'messages:messages_reply' message.id %}">{% trans "Reply" %}</a>
        {% endifequal %}
        <a class="btn-u btn-u-delete" onclick="return confirm('Are you sure you want to delete this message?')" href="{% url 'messages:messages_delete' message.id %}">{% trans "Delete" %}</a>
    </div>
</div>
{% endblock %}