{% extends "base.html" %}
{% load staticfiles %}
{% load envelope_tags %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
{% endblock %}
{% block content %}   
<div class="container content-sm">
    <p>{% render_contact_form %}</p>
</div>
{% endblock %}
