{% load i18n %}
{% load envelope_tags %}
{% load extras %}
<form action="{% url 'envelope-contact' %}" method="post" class="sky-form contact-style">
{% csrf_token %}
{% antispam_fields %}
<div class="row margin-bottom-30">
    <div class="col-md-9 mb-margin-bottom-30">
        <div class="headline"><h2>Contact Form</h2></div>
        <p>We will be glad to hear from you! Please fill out the form below and hit the send button, we'll try to get back to you as soon as we can.</p><br />
            <fieldset class="no-padding">
                <label>Name <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-7 col-md-offset-0">
                        <div>
                            {{ form.sender | addcss_reg_form:"form-control, Your name" }}
                        </div>
                    </div>
                </div>
                {% if form.sender.errors %}
                {% for error in form.sender.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                {% endfor %}
                {% endif %}

                <label>Email <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-7 col-md-offset-0">
                        <div>
                            {{ form.email | addcss_reg_form:"form-control, Your e-mail address" }}
                        </div>
                    </div>
                </div>
                {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                {% endfor %}
                {% endif %}
                
                <label>Subject <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-7 col-md-offset-0">
                        <div>
                            {{ form.subject | addcss_reg_form:"form-control, Message subject" }}
                        </div>
                    </div>
                </div>
                {% if form.subject.errors %}
                {% for error in form.subject.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                {% endfor %}
                {% endif %}

                <label>Message <span class="color-red">*</span></label>
                <div class="row sky-space-20">
                    <div class="col-md-11 col-md-offset-0">
                        <div>
                            {{ form.message | addcss_reg_form:"form-control, Type your message here" }}
                        </div>
                    </div>
                </div>
                {% if form.message.errors %}
                {% for error in form.message.errors %}
                    <div class="alert alert-danger" role="alert">
                      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                      <span class="sr-only">Error:</span>
                        {{ error|escape }}
                    </div>
                {% endfor %}
                {% endif %}

                <p><button type="submit" class="btn-u">Send Message</button></p>
            </fieldset>
        </form>
    </div><!--/col-md-9-->
</div>