{% extends "admin/base.html" %}
{% load staticfiles %}
{% block extrahead %}
    <script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/country-city.js' %}"></script>
    {% include 'autocomplete_light/static.html' %}
{% endblock %}