{% extends "accounts/account_base.html" %}
{% load staticfiles %}
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% block title %}
<title>My Settings | Post4Tips</title>
{% endblock %}


{% block main %}
<!-- Profile Content -->
<div class="col-md-9">
    <div class="profile-body">
        <div class="profile-bio">
        <form method="post" action="" class="sky-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <!-- Free -->
          <section class="col-md-12 col-xs-10">
            <label style="overflow: hidden; padding: 0px 0px 0px 25px;" class="checkbox">{{ field }}<i></i>{{ field.label }}</label>
            {% if field.help_text %}
            <span id="help_{{ field.html_name }}" class="help-block">{{ field.help_text }}</span>
            {% endif %}
            {% if field.errors %}
            {% for error in field.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        </div>
        {% endfor %}
            <div class="row">
                <div class="col-md-12">
                    <input class="btn-u pull-right" type="submit" value="Save the changes">
                </div>
            </div><!--//row-->

            </form><!--//form-->
        </div><!--/end profile-bio-->
    </div><!--/end profile-body-->
</div>
<!-- End Profile Content -->  
{% endblock %}
{% block foot %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
{% endblock %}