{% extends "accounts/account_base.html" %}
{% load staticfiles %}
{% load extras %}
{% load el_pagination_tags %}
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% block title %}
<title>My Travels | Post4Tips</title>
{% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/custom/custom_pagination_misc.css' %}">
<link rel="stylesheet" href="{% static 'css/custom/custom_my_travels_parcels_table.css' %}">
<link rel="stylesheet" href="{% static 'css/custom/custom_my_travels_parcels_table_mobile.css' %}">
{% endblock %}
{% block main %}
<!-- Profile Content -->
<div class="col-md-9">
    <div class="profile-body">
        <div class="profile-bio">
            <i class="color-green icon-lg icon-plane headline-icon"></i>
            <header class="headline">
                <h2>My travels</h2>
            </header>

        {% if travel_list %}
            <div class="table-search-v2 margin-bottom-30">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>From</th>
                                <th>To</th>
                                <th>Journey start date</th>
                                <th>Journey end date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% paginate travel_list %}
                            {% for travel in travel_list %}
                            <tr>
                                <td data-label="" class="service-block">
                                    <i class="icon-lg rounded-x icon-custom icon-custom-search icon-color-u icon-line icon-plane" data-toggle="tooltip" title="Travel"></i>
                                </td>
                                <td data-label="from" class="td-width">
                                    <h3>{{ travel.origin }}</h3>
                                </td>
                                <td data-label="to" class="td-width">
                                    <h3>{{ travel.destination }}</h3>
                                </td>
                                <td data-label="journey start date">
                                    <h3>{{ travel.journey_start|date:"DATE_FORMAT" }}</h3>
                                </td>
                                <td data-label="journey end date">
                                    <h3>{{ travel.journey_end|date:"DATE_FORMAT" }}</h3>
                                </td>
                                <td data-label="more details">
                                    <ul class="list-inline table-buttons">
                                        <li><a href="{{ travel.get_absolute_url }}" class="grow" rel="grow"><i class="icon-lg icon-custom icon-custom-search icon-button-details icon-color-u fa fa-angle-double-right" data-toggle="tooltip" title="Details"></i></a>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div><!--/end profile-bio-->

        <div class="text-center">
            {% get_pages %}
            {% if pages.paginated %}
            <ul class="pagination">

                <li class="page-item">
                    {{ pages.first_as_arrow }}
                </li>

                {% if pages.previous %}
                <li class="page-item">
                    {{ pages.previous }}
                </li>
                {% endif %}

                {% for page in pages %}
                    {% show_current_number as page_number %}
                    {% if page.number == page_number %}
                        <li class="page-item active">
                            <a href="{{ page.path }}">
                                {{ page.number }}<span class="sr-only">(current)</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item"><a href="{{ page.path }}">{{ page.number }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if pages.next %}
                <li class="page-item">
                    {{ pages.next }}
                </li>
                {% endif %}

                <li class="page-item">
                    {{ pages.last_as_arrow }}
                </li> 

            </ul>
            {% endif %}
        </div>
        {% else %}
            You have not created any travels
        {% endif %}
    </div><!--/end profile-body-->
</div>
<!-- End Profile Content -->  

{% endblock %}