{% extends "accounts/account_base.html" %}
{% load staticfiles %}
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% block title %}
<title>{{ myuser.username }}'s Profile | Post4Tips</title>
{% endblock %}


{% block content %}
<div class="wrapper">

    <!--=== Welcome ===-->
    <div class="container">
        <h1>{{ myuser.username }}'s profile page</h1>
        <h6><p>
        Last login: {{ myuser.last_login|date:"j F Y" }}, {{ myuser.last_login|date:"G:i" }}
        <h6></p>
    </div>


    <!--=== Profile ===-->
    <div class="container content profile">
    	<div class="row">
            <!--Left Sidebar-->
            <div class="col-md-3 md-margin-bottom-40">
                <ul class="list-group sidebar-nav-v1 margin-bottom-40" id="sidebar-nav-1">
                    <li class="list-group-item active">
                        <a href=""><i class="fa fa-user"></i> Profile</a>
                    </li>
                    {% comment %}
                    <li class="list-group-item">
                        <a href=""><i class="fa fa-group"></i> Friends</a>
                    </li>
                    {% endcomment %}
                </ul>

            </div>
            <!--End Left Sidebar-->

            <!-- Profile Content -->
            <div class="col-md-9">
                <div class="profile-body">
                    <div class="profile-bio">
                        <div class="row">
                            <div class="col-sm-6 col-md-5">
                                <center>
                                {% if myuser.profile_pic %}
                                <img class="img-responsive md-margin-bottom-10" src="{{ myuser.profile_pic.url }}" class="img-thumbnail">
                                {% else %}
                                <img class="img-responsive md-margin-bottom-10" src="https://s3-eu-west-1.amazonaws.com/post4tips-media/def.png" class="img-thumbnail">
                                {% endif %}
                                </center>
                            </div>
                            <div class="col-sm-6 col-md-7">
                                <h2 style="color:black;">About me</h2>
                                <hr>
                                <p>{% if myuser.about %}{{ myuser.about }}{% endif %}</p>
                            </div>
                        </div><!--/end row-->
                        <hr><br>

                        <div class="row">
                            <div class="col-md-12">
                                    <div class="row" style="margin-bottom 30px">
                                        <label style="text-align:left; text-size:150%; color:black;" class="control-label col-sm-3" for="">First name</label>
                                        <div class="col-sm-9">{{ myuser.first_name }}</div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin-bottom 30px">
                                        <label style="text-align:left; text-size:150%; color:black;" class="control-label col-sm-3" for="">Last name</label>
                                        <div class="col-sm-9">{{ myuser.last_name }}</div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin-bottom 30px">
                                        <label style="text-align:left; text-size:150%; color:black;" class="control-label col-sm-3" for="">Date of birth</label>
                                        <div class="col-sm-9">{{ myuser.dob }}</div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin-bottom 30px">
                                        <label style="text-align:left; text-size:150%; color:black;" class="control-label col-sm-3" for="">Home country</label>
                                        <div class="col-sm-9">{{ myuser.country }}</div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin-bottom 30px">
                                        <label style="text-align:left; text-size:150%; color:black;" class="control-label col-sm-3" for="">Home city</label>
                                        <div class="col-sm-9">{{ myuser.city }}</div>
                                    </div>
                                    <hr>
                                    <div class="row" style="margin-bottom 30px">
                                        <label style="text-align:left; text-size:150%; color:black;" class="control-label col-sm-3" for="">Phone number</label>
                                        <div class="col-sm-9">{{ myuser.phone }}</div>
                                    </div>
                            </div>
                        </div><!--//row-->

                    </div><!--/end profile-bio-->
                </div><!--/end profile-body-->
            </div>
            <!-- End Profile Content -->
        </div>
    </div>
    <!--=== End Profile ===-->
</div><!--/wrapper-->
{% endblock %}
