{% extends "accounts/account_base.html" %}
{% load staticfiles %}
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{% block title %}
<title>My Profile | Post4Tips</title>
{% endblock %}


{% block main %}
<!-- Profile Content -->
<div class="col-md-9">
    <div class="profile-body">
        <div class="profile-bio">
            <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-6 col-md-5">
                    <center>
                    {% if myuser.profile_pic %}
                    <img class="img-responsive md-margin-bottom-10" src="{{ myuser.profile_pic.url }}" class="img-thumbnail">
                    {% else %}
                    <img class="img-responsive md-margin-bottom-10" src="https://s3-eu-west-1.amazonaws.com/post4tips-media/def.png" class="img-thumbnail">
                    {% endif %}
                    <a id="fakeButton" class="btn-u btn-u-sm">Change Picture</a>
                    </center>
                </div>
                <div class="col-sm-6 col-md-7">
                    <h2 style="color:black;">About me</h2>
                    <hr>
                    <p>{% if myuser.about %}{{ myuser.about }}{% endif %}</p>
                </div>
            </div><!--/end row-->
            <hr><br>

            <div class="row">
                <div class="col-md-12">
                    {% for field in form %}
                        <div class="row" style="margin-bottom 30px">
                            {# <!--The below three lines added purely for hiding profile pic label & button--> #}
                            {% if field.name == "profile_pic" %}
                            <div style="display:none;">{# <!--hidden div--> #}
                            {% endif %}

                            <label style="text-align-height:center; padding:6px; text-align:right; text-size:150%; color:black; border:1px solid white; display:inline-block;" class="control-label col-sm-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="col-sm-10" style=".has-error">
                                {{ field }}
                                {% if field.help_text %}
                                <span id="help_{{ field.html_name }}" class="help-block">{{ field.help_text }}</span>
                                {% endif %}
                                {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign block-fix" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        {{ error|escape }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            </div>

                            {% if field.name == "profile_pic" %}
                            </div>{# <!--/hidden div--> #}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div><!--//row-->
            <br>
            <div class="row">
                <div class="col-md-12">
                    <input class="btn-u pull-right" type="submit" id="saveChangesButton" value="Save the changes">
                </div>
            </div><!--//row-->

            </form><!--//form-->
        </div><!--/end profile-bio-->
    </div><!--/end profile-body-->
</div>
<!-- End Profile Content -->
{% endblock %}
{% block foot %}
{{ block.super }}
<script src="{% static 'js/fake-clicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
{% endblock %}
