/* Add here all your css styles (customizations) */
.bg-image-v2 {
  background: url(../img/bg/travels-requests2.jpg) repeat fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.search-block form.page-search-form .radio {
  color: #fff;
}

i.icon-home-page {
  border-top-width: 4px;
}

i.icon-custom.icon-custom-forms {
  border: none;
}

i.icon-custom.icon-custom-detail {
  border: none;
  line-height: 0px;
}

i.icon-custom.icon-custom-detail-list {
  line-height: 67px;
}

i.icon-custom.icon-custom-search {
  border: none;
  font-size: 36px;
  height: 0px;
  line-height: normal;
}

h4.content-h4-margin {
  margin-top: 0px;
}

i.icon-lg.icon-line.icon-custom-detail {
  font-size: 40px;
  width: 40px;
}

section.service-block.no-bottom-margin {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

/* search page search box */
.sky-form.sky-form-noborder {
  border: none;
}

.sky-form .select select {
  height: auto;
  padding: 6px 10px;
}

/* search page search box bottom margin */
.search-block .input-group {
  margin-bottom: 10px;
}

.badge-lists span.badge {
  top: 20px;
  right: 0px;
}

/* messages avatars size */
.profile-inbox-avatar img {
  width: 50px;
  height: 50px;
  display: block;
}

/* inbox icons */
.inbox-envelope-icon {
  padding-top: 2px !important;
}

.messages-header {
  width: 30px !important;
}

.message-view {
  float: right;
  width: 80px;
  height: auto;
  margin-right: 20px;
}

/* Autocomplete modifications */
.yourlabs-autocomplete .choice,
.yourlabs-autocomplete [data-value],
.yourlabs-autocomplete em
{
  padding-left: 25px;
  background-image: url('../img/pin-map-icon.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.yourlabs-autocomplete .hilight {
  background-color: #72c02c;
}

.autocomplete-light-widget .deck {
  color: black;
  font-weight: normal;
}

/* Profile page error messages */
.block-fix {
  display: initial !important;
}

.date-option {
  width: 200px;
}

.profile-welcome {
  margin-top: 20px;
}

/* CC customisations */

.cc_message {
  color: #ffffff;
}
