{% extends 'base.html' %}
{% load staticfiles %}
{% load extras %}
{% load el_pagination_tags %}
{% block title %}
<title>Search Requests | Post4Tips</title>
{% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pages/page_search_inner_tables.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/hover-effects/css/custom-hover-effects.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/pages/page_search.css' %}">
<link rel="stylesheet" href="{% static 'css/custom/custom_search_table.css' %}">
<link rel="stylesheet" href="{% static 'css/custom/custom_search_table_mobile.css' %}">
<link rel="stylesheet" href="{% static 'css/custom/custom_pagination_misc.css' %}">
{% endblock %}
{% block content %}

    <!--=== Search Block ===-->
    <div class="search-block">
        <div class="container">
            <div class="row">
                <h1><span class="color-green">Search</span> requests</h1>
            </div><!--/row-->
            <form action="" id="searchbox" class="sky-form page-search-form">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        {{ form.fr }}
                    </div>
                </div>
                <div class="col-sm-4 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                        {{ form.to }}
                    </div>
                </div>
                <div class="col-sm-4 md-margin-bottom-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        {{ form.date }}
                    </div>
                </div>
            </div><!--/row-->
            <div class="row">
                <div class="col-sm-12 md-margin-bottom-10">
                    <div class="pull-right date-option">
                        <label class="select">{{ form.date_options }}<i></i></label>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button id="mainSearchButton" class="btn-u btn-u-lg btn-block" type="submit"><i class="fa fa-search"></i> SEARCH</button>
                    </div>
            </div><!--/row-->

            {% comment %} 
            The below section displays radio buttons to select Travel or Parcel models
            As per current design there are corresponding search templates/views for searching in each model
            So right now this section is hidden
            {% endcomment %} 
            <div style="display: none;" class="inline-group">
                {% for model in form.models %}
                {% label_with_classes model 'radio-search' %}
                {% endfor %}
            </div>
            
            </form>
        </div><!--/container-->
    </div><!--/Search Block-->

    {% if fr or to or date %}
    <div class="container content-sm">

        {% if results %}

            <div class="table-search-v2 margin-bottom-30">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>From</th>
                                <th>To</th>
                                <th class="text-center">Delivery date</th>
                                <th class="text-center">User</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% paginate results %}
                            {% for result in results %}
                            <tr>
                                <td data-label="" class="service-block">
                                    <i class="icon-lg rounded-x icon-custom icon-custom-search icon-color-u icon-line icon-briefcase" data-toggle="tooltip" title="Request"></i>
                                </td>
                                <td data-label="from" class="td-width">
                                    <h3>{{ result.object.origin }}</h3>
                                </td>
                                <td data-label="to" class="td-width">
                                    <h3>{{ result.object.destination }}</h3>
                                </td>
                                <td data-label="delivery date">
                                    {% if result.object.past_request %}
                                    <span class="label rounded label-light"  data-toggle="tooltip" title="This request is over">{{ result.object.delivery_date|date:"DATE_FORMAT" }}</span>
                                    {% else %}
                                    <span class="label rounded label-u"  data-toggle="tooltip" title="Deliver by date">{{ result.object.delivery_date|date:"DATE_FORMAT" }}</span>
                                    {% endif %}
                                </td>
                                <td data-label="user profile">
                                    {% if result.object.requester %}
                                    <div class="user-names">
                                        <a href="{% url 'account-guest-view' result.object.requester.id %}"><i class="icon-lg icon-custom icon-custom-search icon-color-u icon-user" data-toggle="tooltip" title="View {{ result.object.requester.username }}'s profile"></i></a>
                                        <small>{{ result.object.requester }}</small>
                                    </div>
                                    {% endif %}
                                </td>
                                <td data-label="more details">
                                    <ul class="list-inline table-buttons">
                                        <li><a href="{{ result.object.get_absolute_url }}" class="grow" rel="grow"><i class="icon-lg icon-custom icon-custom-search icon-button-details icon-color-u fa fa-angle-double-right" data-toggle="tooltip" title="Details"></i></a>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="text-center">
                    {% get_pages %}
                    {% if pages.paginated %}
                    <ul class="pagination">

                        <li class="page-item">
                            {{ pages.first_as_arrow }}
                        </li>

                        {% if pages.previous %}
                        <li class="page-item">
                            {{ pages.previous }}
                        </li>
                        {% endif %}

                        {% for page in pages %}
                            {% show_current_number as page_number %}
                            {% if page.number == page_number %}
                                <li class="page-item active">
                                    <a href="{{ page.path }}">
                                        {{ page.number }}<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            {% else %}
                                <li class="page-item"><a href="{{ page.path }}">{{ page.number }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if pages.next %}
                        <li class="page-item">
                            {{ pages.next }}
                        </li>
                        {% endif %}

                        <li class="page-item">
                            {{ pages.last_as_arrow }}
                        </li> 

                    </ul>
                    {% endif %}
                </div>

            </div><!-- End Table Search v2 -->
        {% else %}
            <p class="lead headline-center-v2">
                Unfortunately your search did not yield any results. We suggest checking the spelling or going directly to the list of travels or requests from the home page.
            </p>
        {% endif %}

    </div><!--/container-->


    {% else %}
    <div class="container content-sm">
        <p class="lead headline-center-v2">Try entering a place name in the search box and see if there are any travellers or people who want to send something.</p>
    </div>
    {% endif %}
{% endblock %}

{% block foot %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'assets/js/plugins/datepicker.js' %}"></script>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        Datepicker.initDatepicker();
    });
    </script>
    <script type="text/javascript" src="{% static 'js/search-model-autoselector-jquery.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
{% endblock %}