{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="container content-sm">
  <h1>{% trans 'A few words about us' %}</h1>
  {% blocktrans %}
  <p>Post4Tips is a website for people who want to get something transported for free to a different city, country or even a continent. This website let these people meet the travellers and see if any of them is kind enough to help with transportation. Some travellers might ask you for tips others will do it for free</p>
  <p>We are a small team of two people who are developing this website and trying to constantly improve it. Verifying peoples identities and credibility is not our remit here – we just creating a place where people could meet and help each other and we are doing this for free</p>
  <p>We hope this website will be useful :)</p>
  <p>Developers: phoenix49, elnurcoot.</p>
  <p>Idea: trigger.</p>
  {% endblocktrans %}
</div>
{% endblock %}
