{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="container content-sm">
  <h1>{% trans 'FAQ' %}</h1>
  {% blocktrans %}
  <p>FAQ is currently unavailable</p>
  {% endblocktrans %}
</div>
{% endblock %}
