{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    <title>{% trans 'How this works' %} | Post4Tips</title>
{% endblock %}
{% block head %}
{{ block.super }}
    <style type="text/css">
        p {
            text-align: justify;
        }
        h4 {
            text-align: left;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
<div style="margin-top: 3%;" class="container">
  <h1>{% trans 'How this works' %}</h1>
</div>
<div class="container content-sm">
    {% blocktrans %}
    <h4>What is Post4Tips?</h4>
    <p>
    Post4Tips is a crowd shipping web-platform that connects people who need to get things shipped (requesters) with people who travel to the same destinations and have have extra space in their luggage (travellers). The requesters have an opportunity to ship almost anything (please see the TOCs) across the world at a much lower price and much faster than most popular paid shipping services. The travellers have an opportunity to earn some money and help others.
    </p>

    <h4>So what do I need to do if I am a traveller?</h4>
    <p>
   Once you registered on Post4Tips you need to do the following:
    <ol>
        <li>Create a new Travel post specifying the date, origin and destination of your travel and if you are happy to ship for tips or for free</li>
        <li>One or many of the requesters will contact you</li>
        <li>Discuss and agree the conditions with a requester</li>
        <li>Transport the parcel as agreed</li>
    </ol>
    </p>
    <p>
    Some requesters might ask you to transport things for free, others might offer you some tips. It is really down to you and the requester on what conditions you agree.
    </p>

    <h4>But if I need something shipped?</h4>
    <p>
   Once you registered on Post4Tips you need to do the following:
    <ol>
        <li>Create a new Request post specifying the date your parcel needs to be delivered by and if you are happy to give tips</li>
        <li>One or many of the travellers will contact you</li>
        <li>Discuss and agree the conditions with a traveller</li>
        <li>Pass the parcel on to the traveller</li>
    </ol>
    </p>
    <p>
    Consider giving some tips to the traveller to reward them for the help :)
    </p>
    {% endblocktrans %}
</div>
{% endblock %}
