{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    <title>{% trans 'Privacy Policy' %} | Post4Tips</title>
{% endblock %}
{% block head %}
{{ block.super }}
    <style type="text/css">
        p {
            text-align: justify;
        }
        h4 {
            text-align: left;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
<div style="margin-top: 3%;" class="container">
  <h1>{% trans 'Privacy Policy' %}</h1>
</div>
<div class="container content-sm">
  {% blocktrans %}
    <p>
    This Privacy Policy describes how Post4Tips team and its subsidiaries and contractors (collectively, the "Post4Tips") use and protect information collected from users (the "User"). By registering or by accessing, including but not limited to visiting or browsing the website(s), mobile application(s), and/or services (the "Services") offered by Post4Tips team the User signifies acceptance of this policy.
    </p>

    <h4>Personal identification information</h4>
    <p>
   Post4Tips may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, register on the site, create travel or request post or other available features. Users may be asked for, as appropriate, name, email address, mailing address, phone number. However, personal identification information from Users will be collected only if they voluntarily submit such information to us. The only exception is a User's email address which is submitted by the User during registration for verification purposes. Users can always refuse to supply personal identification information. All personal identification information is collected to:
    <ul>
        <li>improve customer service;</li>
        <li>send users notification emails;</li>
        <li>maintain and promptly update your account information upon any changes;</li>
        <li>maintain the security of your account by protecting your password and restricting access to your account;<li>promptly notify Post4Tips if you discover or otherwise suspect any security breaches;</li>
        <li>take responsibility for all activities that occur under your account and accept all risks of any authorized or unauthorized access.</li>
    </ul>
    </p>

    <h4>How we protect your information</h4>
    <p>
    Post4Tips takes measures to help protect information about you to prevent loss, misuse and unauthorized access, disclosure, alteration and destruction. Appropriate data collection, storage and processing practices and security measures are utilised to protect against unauthorized access, alteration, disclosure or destruction of your personal information.
    </p>

    <h4>Web browser cookies</h4>
    <p>
    Post4Tips may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Services offered by Post4Tips may not function properly.
    </p>

    <h4>Sharing Users personal information</h4>
    <p>
    Post4Tips do not sell, trade, or rent Users personal identification information to others. Post4Tips may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with their business partners, trusted affiliates and advertisers for the purposes outlined above.
    </p>

    <h4>Third party websites</h4>
    <p>
    Users may find advertising or other content in Services offered by Post4Tips that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from Services offered by Post4Tips. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to the Services offered by Post4Tips, is subject to that website's own terms and policies.
    </p>

    <h4>Changes to this privacy policy</h4>
    <p>
    Post4Tips reserves the right to update this privacy policy at any time. Post4Tips encourage Users to frequently check this page for any changes to stay informed. It is Users responsibility to review this privacy policy periodically and become aware of modifications.
    </p>
  {% endblocktrans %}
</div>
{% endblock %}
