{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    <title>{% trans 'Terms of Service' %} | Post4Tips</title>
{% endblock %}
{% block head %}
{{ block.super }}
    <style type="text/css">
        p {
            text-align: justify;
        }
        h4 {
            text-align: left;
            color: black;
        }
    </style>
{% endblock %}
{% block content %}
<div style="margin-top: 3%;" class="container">
  <h1>{% trans 'Terms of Service' %}</h1>
  <h7>{% trans 'Last modified:' %} 17 May 2016</h7>
</div>
<div class="container content-sm">
  {% blocktrans %}
    <h4>General terms</h4>
    <p>
    Please read these terms of service (the "Agreement") before using the website(s), mobile application(s), and/or services (the "Services") offered by Post4Tips team and its subsidiaries and contractors (collectively, the "Post4Tips"). By registering or by accessing, including but not limited to visiting or browsing the Services, you (the "user") agree to be bound by this Agreement and all terms incorporated by reference. If user does not agree to all of these terms, they must not access or use the Services.
    </p>
    <p>
    The Post4Tips is an online service that offers a method for people who want to ship items (collectively, the "requesters") to contact people who travel and willing to provide shipping services (collectively, the "travellers") and request to deliver the items for agreed reward or for free. The Post4Tips does not provide shipping or logistics services, and is not a shipping or logistics carrier, and is not a taxi service. The Post4Tips disclaims responsibility or liability for any aforementioned services voluntarily provided to any requester by any traveller using the Services.
    </p>
    <h4>Eligibility</h4>
    <p>
    You can use the Post4Tips only if you have the legal right to form a binding contract with the Post4Tips and only in compliance with this Agreement and all domestic and international laws, rules and regulations. Any use of or access to the Post4Tips by anyone under the age of 18 is strictly prohibited and in violation of this Agreement. In order to access certain areas and features of Post4Tips, you will need to register for an account. You agree to:
    <ul>
        <li>create a unique password that you do not use with any other online product or service;</li>
        <li>provide accurate, truthful, current and complete information when creating an account;</li>
        <li>maintain and promptly update your account information upon any changes;</li>
        <li>maintain the security of your account by protecting your password and restricting access to your account;<li>promptly notify Post4Tips if you discover or otherwise suspect any security breaches;</li>
        <li>take responsibility for all activities that occur under your account and accept all risks of any authorized or unauthorized access.</li>
    </ul>
    The Post4Tips will not be liable for any losses caused by any unauthorized use of your account
    </p>
    <h4>Content</h4>
    <p>
    The term "content" includes all information, data, text, software, patents, trademarks, service marks, copyrights,images, graphics, illustrations, logos, photographs, sound, audio, videos, music or other such materials. Post4Tips reserves the right to remove any content or information if it believes that it violates the Agreement. Except for your User Content, all Post4Tips content and all intelectual property of the Post4Tips are exclusive property of the Post4Tips. By accessing the Services, including but not limited to visiting or browsing the Services, you agree not to sell or rent, modify or edit or adapt, copy, distribute, reproduce, transmit, publicly display, publicly perform, publish, license or create derivative works from any the Post4Tips Content. Use of the Post4Tips Content for any purpose not expressly permitted by this Agreement is strictly prohibited.
    </p>
    <p>
    Users agree not to post content that:
    <ul>
        <li>could create a risk of harm, loss, physical or mental injury, emotional distress, death, disability, disfigurement, or physical or mental illness to the user themself and/or any other person, and/or any animal</li>
        <li>could create a risk of any other loss and/or damage to any person's property</li>
        <li>could harm or exploit children by exposing them to inappropriate content</li>
        <li>could be considered by Post4Tips as unlawful, abusive, racially offensive, harassing, humiliating, threatening or illegal</li>
        <li>the users do not have a right for</li>
    </ul>
    The Post4Tips takes no responsibility and assumes no liability for any User Content.
    </p>
    <h4>User’s Obligations and Responsibilities</h4>
    <p>
    The travellers may not accept for transport any items of the requesters if they are illegal, dangerous or prohibited by this Agreement. The requesters may decide whether or not to accept shipment services from any traveller contacted through the Post4Tips. Any decision by a user to offer or accept shipment through the Post4Tips is a decision made at such user’s sole discretion.
    </p>
    <p>
    Requesters may not request or ship and travellers may not accept or transport the following items:
    <ul>
        <li>Passengers</li>
        <li>Tobacco products</li>
        <li>Alcohol products</li>
        <li>Illegal drugs</li>
        <li>Firearms, explosives or ammunition</li>
        <li>Hazardous materials</li>
        <li>Any other dangerous, illegal or harmful items</li>
        <li>Currency</li>
        <li>Plants</li>
        <li>Animals</li>
    </ul>
    This is not an exhaustive list and may be updated at any time.
    </p>
    <p>
    Travellers must not accept a shipment if they cannot verify its contents or if they are requested to ship prohibited items. Travellers should contact the Post4Tips immediately to inform us. If the Post4Tips discovers a request to transport prohibited items posted on the Post4Tips website(s) and/or mobile application(s) Post4Tips reserves the right to cancel the request and inform police or other appropriate authorities. It is the sole responsibility of travellers and requesters to ensure they adhere to this Agreement on what can and cannot be transported.
    </p>
    <h4>Prohibited use of the Services</h4>
    <p>
    User agrees not to engage in any of the following prohibited activities:
    <ul>
        <li>using any automated or non-automated "web scraping", including "robots", "spiders"</li>
        <li>using any automated system that sends more request messages to Post4Tips servers than a human can produce using online web browser</li>
        <li>creating spam, chain letters, or other unsolicited email</li>
        <li>attempting to compromise the system integrity and/or security and/or decipher any transmissions to or from the servers running the Services or software used to provide the Services</li>
        <li>uploading viruses or worms to/through the Post4Tips</li>
        <li>encouraging other people to do any of the above</li>
    </ul>
    </p>
    <h4>Changes to the Services</h4>
    <p>
    Without prior notice the Post4Tips can change the Services, stop providing the Services or some features of the Services. The Post4Tips reserves the right to modify the terms and conditions of this Agreement, the Privacy Policy or other policies relating to the Post4Tips at any time, effective upon posting of an updated version of this Agreement on the Post4Tips. The Post4Tips can permanently or temporarily terminate or suspend user's access to the Services without notice and liability if user violates this Agreement, or for no reason. When Post4Tips change this Agreement in a material manner, the ‘last modified’ date at the top of this page will be changed accordingly. User's continued use of the Services following the posting of changes or modifications will constitute their acceptance of such changes or modifications.
    </p>
    <h4>Indemnity</h4>
    <p>
    Users agree to indemnify and hold Post4Tips harmless from any claim or demand, including any third party fees arising out of Content users submit or post using the Services
    </p>
    <h4>Last but not least</h4>
    <p>
    The Post4Tips does not check any user's background or record. The Post4Tips will not be responsible for any damages, including personal injury, death, property damage, and the like received by any party as a result of agreed transport or shipment of any items using the Services. Users agree that use of the Post4Tips is at thier sole risk.
    </p>
  {% endblocktrans %}
</div>
{% endblock %}
