{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<div class="container content-sm">
  <h1>{% trans 'Thank you!' %}</h1>
  <p>{% trans 'Thank you! Your message has been sent!' %}</p>
  <p>{% trans 'You will now be redirected back to home page.' %}</p>
</div>
{% endblock %}
{% block foot %}
{{ block.super }}
<script type="text/javascript">
  setTimeout(function() {
    window.location.replace("{% url 'index' %}");
  }, 5000);
</script>
{% endblock %}
