{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% load i18n %}
{% block title %}
<title>{% trans 'Travel' %} | Post4Tips</title>
{% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker3.css' %}">
{% endblock %}
{% block content %}
<div class="container content">
    <header class="headline">
      <h2>{% trans 'Travel Details' %}</h2>
    </header>
  <div class="row">
    <section class="col-md-5 col-xs-12 bq-green">
        <h4><em>{% trans 'From' %}</em></h4>
        <p class="lead">{{ travel.origin.get_display_name }}</p>
    </section>
    <section class="col-md-2 col-xs-12 service-block">
      <i class="icon-custom icon-custom-detail icon-color-u icon-lg rounded-x icon-line {{ view.travel_icon }}" data-toggle="tooltip" data-original-title="{{ travel.get_journey_type_display }}"></i>
    </section>
    <section class="col-md-5 col-xs-12 text-right bq-green">
        <h4><em>{% trans 'To' %}</em></h4>
        <p class="lead">{{ travel.destination.get_display_name }}</p>
    </section>
  </div>
  <div class="row">
    <div class="col-md-6 col-xs-12">
      <dl class="col-md-6 content-boxes-v3">
        <div class="clearfix margin-bottom-15">
          <a href="{% url 'account-guest-view' travel.traveller.id %}"><i class="icon-custom icon-custom-detail icon-color-u icon-lg rounded-x icon-line icon-travel-074" data-toggle="tooltip" data-original-title="View user account"></i></a>
          <div class="content-boxes-in-v3">
            <h5 class="content-h5-margin"><em><strong>{% trans 'Traveller' %}</strong></em></h5>
            <h4>{% if travel.traveller.first_name or travel.traveller.last_name %}
                  {{ travel.traveller.get_full_name }}
                {% else %}
                  {{ travel.traveller.username }}
                {% endif %}
            </h4>
          </div>
        </div>
      </dl>
      <dl class="col-md-6 content-boxes-v3">
        <div class="clearfix margin-bottom-15">
          <i class="icon-custom icon-custom-detail icon-color-u icon-lg rounded-x icon-line icon-communication-146"></i>
          <div class="content-boxes-in-v3">
            <h5 class="content-h5-margin"><em><strong>{% trans 'Travel start date' %}</strong></em></h5>
            <h4>{{ travel.journey_start|date:"d E Y" }}</h4>
          </div>
        </div>
      </dl>
      <div class="headline">
        <h4>{% trans 'Additional details' %}</h4>
      </div>
      <dl>
        {% if travel.journey_start != travel.journey_end %}
        <dt>{% trans 'Travel End Date' %}</dt>
        <dd>{{ travel.journey_end|date:"d E Y" }}</dd>
        {% endif %}
        <dt>{% trans 'Max Weight' %}</dt>
        <dd>{{ travel.get_max_weight_display }}</dd>
        <dt>{% trans 'Max Size' %}</dt>
        <dd>{{ travel.get_max_size_display }}</dd>
        <dt>{% trans 'Can Carry For Free' %}</dt>
        <dd>{% if travel.free %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</dd>
      </dl>
    </div>
    <div class="col-md-6 col-xs-12">
      <input type="hidden" id="origin-latitude" name="variable" value="{{ travel.origin.latitude }}" readonly>
      <input type="hidden" id="origin-longitude" name="variable" value="{{ travel.origin.longitude }}" readonly>
      <input type="hidden" id="destination-latitude" name="variable" value="{{ travel.destination.latitude }}" readonly>
      <input type="hidden" id="destination-longitude" name="variable" value="{{ travel.destination.longitude }}" readonly>
      <div id="map" class="map margin-bottom-50"></div>
    </div>
  </div>
  {% if user == travel.traveller %}
    <form action="{% url 'travel-delete' travel.id travel.slug %}" method="post" class="form-horizontal">
      {% csrf_token %}
      <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">{% trans 'Back' %}</button>
      <a class="btn-u btn-u-default" href="{% url 'travel-edit' travel.id travel.slug %}">{% trans 'Edit' %}</a>
      <button onclick="return confirm('Are you sure you want to delete this travel?')" class="btn-u btn-u-red">{% trans 'Delete' %}</button>
    </form>
  {% else %}
  <a class="btn-u btn-u-default" href="javascript:history.back()">{% trans 'Back' %}</a>
   <!-- Bootstrap Modals With Forms -->
    <button class="btn-u" data-toggle="modal" data-target="#responsive">{% trans 'Apply' %}</button>
    <div class="modal fade" id="responsive" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'messages:messages_compose' %}?next={% url 'travel-detail' travel.id %}" class="sky-form form-horizontal" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel4">{{ subject }}</h4>
                </div>
                <div class="modal-body">
                    <input id="{{ form.recipient.id_for_label }}" name="{{ form.recipient.html_name }}" type="hidden" value="{{ travel.traveller.username }}">
                    <input id="{{ form.subject.id_for_label }}" name="{{ form.subject.html_name }}" type="hidden" value="{{ subject }}">
                    <div class="row">
                        <div class="col-md-12 col-xs-10">
                            <label class="textarea textarea-resizable {% if form.body.errors %} state-error{% endif %}">
                                <textarea style="height: 150px;" id="{{ form.body.id_for_label }}" name="{{ form.body.html_name }}" placeholder="{{ message_placeholder }}" autofocus></textarea>
                            </label>
                            {% if form.body.help_text %}
                            <span id="help_{{ form.body.html_name }}" class="help-block">{{ form.body.help_text }}</span>
                            {% endif %}
                            {% if form.body.errors %}
                            {% for error in form.body.errors %}
                            <div class="alert alert-danger" role="alert">
                              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                              <span class="sr-only">Error:</span>
                                {{ error|escape }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn-u btn-u-default" data-dismiss="modal">{% trans 'Close' %}</button>
                    <button type="submit" id="submit" class="btn-u btn-u-primary odom-submit">{% trans 'Send' %}</button>
                </div>
                </form>
            </div>
        </div>
    </div>
<!-- End Bootstrap Modals With Forms -->
  {% endif %}
</div>
{% endblock %}
{% block foot %}
{{ block.super }}
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyAia8-jJOAo2XJL7Tk3QedcbpV11OWR9Ls"></script>
<script type="text/javascript" src="{% static 'assets/plugins/gmap/gmap.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/maps.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
{% endblock %}
