{% extends "base.html" %}
{% load staticfiles %}
{% load tz %}
{% load i18n %}
{% load extras %}
{% block title %}
<title>{% trans 'Travel' %} | Post4Tips</title>
{% endblock %}
{% block head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">
{% endblock %}
{% block content %}
<div class="container content">
    <form id="skyform" enctype="multipart/form-data" method="post" class="sky-form form-horizontal">
      {% csrf_token %}
      <header>
      {% if travel %}
        <h2>{% trans 'Update Travel' %}</h2>
        <h4>{% trans 'Update the travel by modifying fields below' %}</h4>
      {% else %}
        <h2>{% trans 'New Travel' %}</h2>
        <h4>{% trans 'Create a new travel by filling out the form below' %}</h4>
      {% endif %}
      </header>
      <fieldset>
        <div class="row">
        <!-- Origin -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.origin.id_for_label }}">{{ form.origin.label }}</label>
            <label class="input{% if form.origin.errors %} state-error{% endif %}">{{ form.origin }}</label>
            {% if form.origin.help_text %}
            <span id="help_{{ form.origin.html_name }}" class="help-block">{{ form.origin.help_text }}</span>
            {% endif %}
            {% if form.origin.errors %}
            {% for error in form.origin.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        <!-- End Origin -->
        <!-- Icon -->
          <section class="col-md-2 col-xs-2 service-block">
            <i class="icon-custom icon-custom-forms icon-color-u icon-lg rounded-x icon-line icon-directions"></i>
          </section>
        <!-- Destination -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.destination.id_for_label }}">{{ form.destination.label }}</label>
            <label class="input{% if form.destination.errors %} state-error{% endif %}">{{ form.destination }}</label>
            {% if form.destination.help_text %}
            <span id="help_{{ form.destination.html_name }}" class="help-block">{{ form.destination.help_text }}</span>
            {% endif %}
            {% if form.destination.errors %}
            {% for error in form.destination.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        </div>
        <!-- Dates Start -->
        <div class="row">
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.journey_start.id_for_label }}">{{ form.journey_start.label }}</label>
            <label class="input{% if form.journey_start.errors %} state-error{% endif %}">{{ form.journey_start }}</label>
            {% if form.journey_start.help_text %}
            <span id="help_{{ form.journey_start.html_name }}" class="help-block">{{ form.journey_start.help_text }}</span>
            {% endif %}
            {% if form.journey_start.errors %}
            {% for error in form.journey_start.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        <!-- Icon -->
          <section class="col-md-2 col-xs-2 service-block">
            <i class="icon-custom icon-custom-forms icon-color-u icon-lg rounded-x icon-line icon-calendar"></i>
          </section>
        <!-- Dates End -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.journey_end.id_for_label }}">{{ form.journey_end.label }}</label>
            <label class="input{% if form.journey_end.errors %} state-error{% endif %}">{{ form.journey_end }}</label>
            {% if form.journey_end.help_text %}
            <span id="help_{{ form.journey_end.html_name }}" class="help-block">{{ form.journey_end.help_text }}</span>
            {% endif %}
            {% if form.journey_end.errors %}
            {% for error in form.journey_end.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
          <!-- Max size -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.max_size.id_for_label }}">{{ form.max_size.label }}</label>
            <label class="select{% if form.max_size.errors %} state-error{% endif %}">{{ form.max_size }}<i></i></label>
            {% if form.max_size.help_text %}
            <span id="help_{{ form.max_size.html_name }}" class="help-block">{{ form.max_size.help_text }}</span>
            {% endif %}
            {% if form.max_size.errors %}
            {% for error in form.max_size.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
          <!-- Icon -->
          <section class="col-md-2 col-xs-2 service-block">
            <i class="icon-custom icon-custom-forms icon-color-u icon-lg rounded-x icon-line icon-envelope"></i>
          </section>
          <!-- Max weight -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.max_weight.id_for_label }}">{{ form.max_weight.label }}</label>
            <label class="select{% if form.max_weight.errors %} state-error{% endif %}">{{ form.max_weight }}<i></i></label>
            {% if form.max_weight.help_text %}
            <span id="help_{{ form.max_weight.html_name }}" class="help-block">{{ form.max_weight.help_text }}</span>
            {% endif %}
            {% if form.max_weight.errors %}
            {% for error in form.max_weight.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        </div>
      </fieldset>
      <fieldset>
        <div class="row">
            <!-- Journey type -->
          <section class="col-md-5 col-xs-10">
            <label class="label" for="{{ form.journey_type.id_for_label }}">{{ form.journey_type.label }}</label>
            <label class="select{% if form.journey_type.errors %} state-error{% endif %}">{{ form.journey_type }}<i></i></label>
            {% if form.journey_type.help_text %}
            <span id="help_{{ form.journey_type.html_name }}" class="help-block">{{ form.journey_type.help_text }}</span>
            {% endif %}
            {% if form.journey_type.errors %}
            {% for error in form.journey_type.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
          <section class="col-md-2 col-xs-2 service-block no-bottom-margin">
            <i id="dynamicIcon" class="icon-custom icon-custom-detail icon-color-u icon-lg rounded-x icon-line icon-transport-042"></i>
          </section>
        </div>
        <div class="row">
            <!-- Free -->
          <section class="col-md-5 col-xs-10">
            <label style="overflow: hidden; padding: 0px 0px 0px 25px;" class="checkbox">{{ form.free }}<i></i>{{ form.free.label }}</label>
            {% if form.free.help_text %}
            <span id="help_{{ form.free.html_name }}" class="help-block">{{ form.free.help_text }}</span>
            {% endif %}
            {% if form.free.errors %}
            {% for error in form.free.errors %}
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span class="sr-only">{% trans 'Error:' %}</span>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
          </section>
        </div>
      </fieldset>
      <footer>
        <button type="submit" class="btn-u">{% trans 'Submit' %}</button>
        <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">{% trans 'Back' %}</button>
      </footer>
    </form>
</div>
{% endblock %}
{% block foot %}
{{ block.super }}
<script type="text/javascript" src="{% static 'assets/js/plugins/datepicker.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
        App.init();
        Datepicker.initDatepicker();
    });
</script>
<script type="text/javascript" src="{% static 'js/travel-icon-selector.js' %}"></script>
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
{% endblock %}
