{% extends "base.html" %}
{% load staticfiles %}
{% load extras %}
{% block head %}
{{ block.super }}
    <noscript>
       <p style="text-align: center; font-size: 300%">
       Please enable Javascript on your computer otherwise this little website feels very lonely and cannot work properly :(
       </p>
    </noscript>
    <link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css' %}">  
    <link rel="stylesheet" href="{% static 'assets/plugins/hover-effects/css/custom-hover-effects.css' %}">
    <!-- CSS Page Style -->
    <link rel="stylesheet" href="{% static 'assets/css/pages/page_search.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/custom_404_style.css' %}">
{% endblock %}
{% block content %}
    <!--=== Search Block ===-->
    <div class="search-block">
        <div class="container">
            <div class="row">
                <h1><span class="color-green">404</span> error</h1>
            </div>
            <div class="row">
                <h1>You look lost :(</h1>
            </div>
            <div class="row">
                <a href="{% url 'index' %}" rel="round-corners" class="btn-u round-corners">Let's go home :)</a>
            </div>            
        </div><!--/container-->
    </div><!--/Search Block-->
{% endblock %}