{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<head>
  {% block title %}
    <title>Post4Tips</title>
  {% endblock %}
  {% block head %}
    {% include "head.html" %}
  {% endblock %}
  <!-- Custom CSS must come in the end in order to override -->
  <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
  <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
  <script type="text/javascript">
      window.cookieconsent_options = {"message":"Post4Tips uses cookies to ensure you get the best experience on our website","dismiss":"Accept","learnMore":"More info","link":"{% url 'privacy' %}","theme":"dark-bottom"};
  </script>

  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
  <!-- End Cookie Consent plugin -->
</head>
<body class="header-fixed header-fixed-space">
  {% block header %}
    {% include "header.html" %}
    {% endblock %}
    {% if messages %}
    <div class="container">
      {% for message in messages %}
      <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  {% block content %}
  {% endblock %}
  {% include "footer.html" %}
  {% block foot %}
    {% include "foot.html" %}
    {% include 'autocomplete_light/static.html' %}
  {% endblock %}
</body>
</html>
