{% load staticfiles %}
<!-- JS Global Compulsory -->
<script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery/jquery-migrate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/jquery.maskedinput.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>


<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{% static 'assets/plugins/back-to-top.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/smoothScroll.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/jquery.parallax.js' %}"></script>


<!-- JS Customization -->
<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>


<!-- JS Page Level -->
<script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>


<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'js/rango-jquery.js' %}"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-79663171-1', 'auto');
  ga('send', 'pageview');

</script>
