{% load staticfiles %}
{% load i18n %}
    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-6 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="{% static 'assets/img/logo_white.png' %}" alt=""></a>
                        <p>{% trans "Post4Tips is a website for people who want to get something transported for free to a different city, country or even a continent." %}</p>
                        <p>{% trans "We are a small team of two people who are developing this website and trying to constantly improve it." %}</p>
                    </div><!--/col-md-3-->
                    <!-- End About -->

                    <!-- Link List -->
                    <div class="col-md-6 md-margin-bottom-40">
                        <div class="headline"><h2>{% trans "Useful Links" %}</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="{% url 'about' %}">{% trans "About us" %}</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{% url 'how' %}">{% trans "How this works" %}</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{% url 'faq' %}">{% trans "FAQ" %}</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="{% url 'envelope-contact' %}">{% trans "Contact us" %}</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->
                </div>
            </div>
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            2016 &copy; {% trans "All Rights Reserved." %}
                           <a href="{% url 'privacy' %}">{% trans "Privacy Policy" %}</a> | <a href="{% url 'terms' %}">{% trans "Terms of Service" %}</a>
                        </p>
                    </div>
                    {% comment 'No social networks yet' %}
                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                    {% endcomment %}
                </div>
            </div>
        </div><!--/copyright-->
    </div>
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->
