{% load staticfiles %}
{% load seo %}
<!-- Meta -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Favicon -->
<link rel="icon" sizes="16x16" type="image/png" href="{% static 'assets/img/favicon.png' %}">

<!-- Web Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin">

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

<!-- CSS Header and Footer -->
<link rel="stylesheet" href="{% static 'assets/css/headers/header-v6.css' %}">
<link rel="stylesheet" href="{% static 'css/custom/custom_head_style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/footers/footer-v1.css' %}">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="{% static 'assets/plugins/animate.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/line-icons/line-icons.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/line-icons-pro/styles.css' %}">
<link rel="stylesheet" href="{% static 'assets/plugins/font-awesome/css/font-awesome.min.css' %}">

<!-- CSS Theme -->
<link rel="stylesheet" href="{% static 'assets/css/theme-colors/default.css' %}" id="style_color">
<link rel="stylesheet" href="{% static 'assets/css/theme-skins/dark.css' %}">
{% get_metadata %}