{% load staticfiles %}
{% load extras %}
{% load i18n %}
<!--=== Header v6 ===-->
<div class="header-v6 header-sticky header-classic-white">
    <!-- Navbar -->
    <div class="navbar mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="menu-container">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Navbar Brand -->
                <div class="navbar-brand">
                    <a href="{% url 'index' %}">
                        <img class="shrink-logo" src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    </a>
                </div>
                <!-- End Navbar Brand -->

                <!-- Header Inner Right -->
                <div class="header-inner-right">
                    <ul class="menu-icons-list">
                        <li class="menu-icons">
                           <!-- empty -->
                        </li>
                    </ul>
                </div>
                <!-- End Header Inner Right -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav badge-lists">
                        <!-- Home -->
                        <li class="{% navactive request 'index' %}">
                            <a href="{% url 'index' %}">
                                {% trans "Home" %}
                            </a>
                        </li>
                        <!-- End Home -->

                        <!-- How -->
                        <li class="{% navactive request 'how' %}">
                            <a href="{% url 'how' %}">
                                {% trans "How this works" %}
                            </a>
                        </li>
                        <!-- End How -->

                        <!-- About us -->
                        <li class="{% navactive request 'about' %}">
                            <a href="{% url 'about' %}">
                                {% trans "About us" %}
                            </a>
                        </li>
                        <!-- End About us -->

                        {% if user.is_authenticated %}
                        <!-- New Post -->
                        <li class="dropdown">
                            <!-- navactive request 'travel-new'  -->
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                {% trans "New Post" %}
                            </a>
                            <ul class="dropdown-menu">
                                <!--  url 'travel-new'  -->
                                <li><a href="{% url 'travel-new' %}">{% trans "New Travel" %}</a></li>
                                <!--  url 'request-new'  -->
                                <li><a href="{% url 'parcel-new' %}">{% trans "New Request" %}</a></li>
                            </ul>
                        </li>
                        <!-- End New Post -->

                        <!-- My Account -->
                        <li class="{% navactive request 'account-update' user.id %}">
                            <a href="{% url 'account-update' user.id %}">
                                {% trans "My Account" %}
                            </a>
                            {% if messages_inbox_count %}
                            <span class="badge badge-red rounded-x" data-toggle="tooltip" data-placement="right" title="Unread">{{ messages_inbox_count }}</span>
                            {% endif %}
                        </li>
                        <!-- End My Account -->

                        <!-- Sign Out -->
                        <li class="{% navactive request 'auth_logout' %}">
                            <a href="{% url 'auth_logout' %}?next=/">
                                {% trans "Sign Out" %}
                            </a>
                        </li>
                        <!-- End Sign Out -->
                        {% else %}
                        <!-- Login -->
                        <li class="{% navactive request 'login' %}">
                            <a href="{% url 'login' %}">
                                {% trans "Login" %}
                            </a>
                        </li>
                        <!-- End Login -->

                        <!-- Sign Up -->
                        <li class="{% navactive request 'registration_register' %}">
                            <a href="{% url 'registration_register' %}">
                                {% trans "Sign Up" %}
                            </a>
                        </li>
                        <!-- End Sign Up -->
                        {% endif %}
                    </ul>
                </div>
            </div><!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v6 ===-->
