/*Page Search
------------------------------------*/
/*Search Block Custom*/

.form-control:focus {
    border-color: #5fb611;
    box-shadow: 0 0 20px #5fb611;
}

.search-block {
    background: url(../../img/image2.jpg) center;
    padding: 192px 0;
}

.search-block:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: none !important;
}

.input-group-addon{
    color: #5fb611;
    border:1px solid white;
}

input[type="radio"]{
    display: inline;
    height:34px;
    width:24px;
    vertical-align: bottom;
}

.radio-search{
    display: inline;
    font-size: 22px;
    color: white;
    margin-right: 10%;
}


@media (max-width: 768px) {
    .search-block {
        padding: 120px 0;
    }
}

@media (min-width: 1200px) {
    .search-block {
        background-size: cover;
    }
}
