/*Page Search Block
------------------------------------*/

/*Table Search v2
------------------------------------*/

/* Custom CSS for Table */

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}


@media screen and (max-width: 770px) {
    table {
        border: 0;
    }

    table thead {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    table tr {
        display: block;
    }

    table tr:after {
        content: "";
        display: table;
        clear: both;
    }
  
    table tr:before {
        display: block;
    }

    table td {
        box-sizing: border-box;
        display: block;
        float: left;
        clear: left;
        width: 100%;
        text-align: right;
        font-size: 13px;
    }

    table.td-width{
        width: 200%;
    }

    table td:last-child {
        border-bottom: 0;
    }

    table td:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
    }

    .table-search-v2 td span {
        display: inline;
        font-size: 90%;
        font-family: "Open Sans", Arial, sans-serif;
    }

    .table-search-v2 .td-width {
        width: 100%;
    }

    small {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    /* this will shrink the deviding plane icons */
    i.icon-plane:before {
        font-size: 20px;
    }

    /* this will shrink the deviding briefcase icons */
    i.icon-briefcase:before {
        font-size: 20px;
    }

    /* this will keep the headline icon the same */
    i.headline-icon:before {
        font-size: 31px;
    }

    .table-search-v2 td h3 {
        font-size: 115%;
        font-family: "Open Sans", Arial, sans-serif;
    }

    .profile .table h3 {
        margin-top: 0;
        font-size: 95%;
        margin-bottom: 5px;
        font-family: "Open Sans", Arial, sans-serif;
    }

    /* this will move the headline icon to the left and set the margins */
    i.headline-icon {
        float: left;
        width: 30px;
        height: 60px;
        font-size: 31px;
        line-height: 60px;
        margin-bottom: 10px;
        margin-right: 10px;
    }

}