/*Page Search
------------------------------------*/
/*Search Block Custom*/

.form-control:focus { 
    border-color: #5fb611;
    box-shadow: 0 0 20px #5fb611;
}

.search-block {
    background: url(../../assets/img/bg/2.jpg) center;
    background-size: cover;
}

.search-block:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    content: " ";
    position: absolute;
    background: none !important;
}

.input-group-addon{
    color: #5fb611;
    border:1px solid white;
}

input[type="radio"]{
    display: inline;
    height:34px;
    width:24px;
    vertical-align: bottom;
}

.radio-search{
    display: inline;
    font-size: 22px;
    color: white;
    margin-right: 10%;
}

/* this will style text in tables*/
.profile .table h3 {
    margin-top: 0;
    font-size: 105%;
    margin-bottom: 5px;
    font-family: "Open Sans", Arial, sans-serif;
}

/* this will keep the double arrow link to the detail_view page in the right place*/
.profile .profile-bio a {
    margin-left: 0px;
    position: static;
}

/* this removes the dotted line under the headline */
.headline {
    border-bottom: 1px none #e4e9f0;
}

/* this will move the headline icon to the left and set the margins */
i.headline-icon {
    float: left;
    width: 30px;
    height: 60px;
    font-size: 31px;
    line-height: 60px;
    margin-bottom: 10px;
    margin-right: 10px;
}