/*Page Search
------------------------------------*/
/*Search Block Custom*/


.search-block {
    background: url(../../img/error404.jpg) center;
    padding: 190px 0;
    margin-bottom: 0;
}

.search-block:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: absolute;
    background: none !important;
}

@media (max-width: 768px) {
    .search-block {
        padding: 190px 140px;
        background-position:40% 50%
    }
}

@media (min-width: 769px) and (max-width: 968px) {
    .search-block {
        padding: 190px 140px;
        background-position:40% 50%
    }
}

@media (min-width: 1200px) {
    .search-block {
        padding: 190px 100px;
        background-size: cover;
    }
}
